.mainBox{
    height: 358px;
    width: 312px;
    margin-left: 550px;
    margin-top: 100px;
    background-color: rgba(33, 50, 50, 0.13);
border: black solid 1px;
}
.b1{
    height: 60px;
    width: 227px;
    background-color: white;
    border: black solid 1px;
    border-radius: 20px 20px;
}

    .b2{
        border: black solid 1px;
        border-radius: 20px 20px;
        height: 66px;
        width: 75px;
        background-color: red;}
 .num {
     height: 73px;
     width: 75px;
     background-color: white;
     border: black solid 1px;
border-radius: 20px 20px;
 }       
