@import url('https://fonts.googleapis.com/css2?family=Petemoss&family=Puppies+Play&family=Road+Rage&family=Sassy+Frass&family=Shalimar&family=Yuji+Boku&family=Yuji+Mai&display=swap');
#a{
    background-color: rgb(46, 22, 22);
    margin-top: -41px;
      width: 100%;
 }
#b{
color:cornsilk;
margin-left: 163px;
margin-top: 41px;

   }
h2{
    color: cornsilk;
    font-size: 48px;
    font-family: 'Yuji Mai', serif;
    margin-top: -58px;
    margin-left: 280px;
}  
#c{
    font-size: 26px;
    font-family: 'Yuji Mai', serif;
    background-color: rgb(46, 22, 22);
   margin-left: 940px;
   margin-top: -96px; 
}
.d{
    background-color: rgb(27, 16, 16);
    width: 412px;
    height: 693px;
}
.f{
    width: 300px;
    height: 300px;
}
.q{
    width: 683px;
    height: 664px;
    margin-left: 412px;
    margin-top: -691px;
    margin-bottom: 52px;}
h1{
    color: white;
    font-family: 'Road Rage', cursive;
}
h3{
    color: whitesmoke;
    font-family: 'Yuji Boku', serif;
}
.p{
    width: 185px;
    height: 215px;
    margin-left: 106px;
margin-top: 27px;
border: whitesmoke solid 2px; 
}
.e{
    background-color: rgb(27, 16, 16);
    width: 412px;
    height: 693px;
    margin-left: 1095px;
    margin-top: -717px;
}
.g{
    background-color: rgb(15, 6, 6);
    width: 50%;
    height: 500px;
    margin-top: -327px;
    border: white solid 3px;
}
#n{
    font-size:50px ;
    text-align: center;
}
.h{
    background-color: rgb(15, 6, 6);
    width: 50%;
    height: 500px;
    margin-top: -505px;
    margin-left: 754px;
    border: white solid 3px;
}
#m{
    font-size:50px ;
    text-align: center; 
   
}
.i{
border: cornsilk solid 2px;
background-color: rgb(46, 23, 23);
width: 350px;
height: 350px;
margin-left: 200px;
}
.j{
    background-color: rgb(15, 6, 6);
    width: 100%;
height: 1100px;
border: cornsilk solid 2px;

}
#o{
    font-size:50px ;
    text-align: center; 
}
.k{
    background-color: rgb(15, 6, 6);
width: 468px;
height: 450px;}
#b{
    font-size:60px ;
}
.x{
    width: 281px;
height: 253px;
margin-left: 105px;
margin-top: -25px;
}
#v{
    margin-left: 139px;
    margin-top: 9px;        
}
.l{
    background-color: rgb(15, 6, 6);
    width: 468px;
    height: 450px;
    margin-left: 502px;
    margin-top: -491px;
}
.m{
    background-color: rgb(15, 6, 6);
width: 468px;
height: 450px;
margin-left: 1007px;
margin-top: -492px;
}
.w{
    background-color: rgb(15, 6, 6);
    width: 468px;
    height: 450px;
    margin-top: 10px;    
}
.u{
    background-color: rgb(15, 6, 6);
    width: 468px;
    height: 450px;
    margin-top: -491px;
    margin-left: 505px;
}
.y{
    background-color: rgb(15, 6, 6);
    width: 468px;
    height: 450px;
    margin-top: -491px;
    margin-left: 1009px;
}
.r{
    width:100%;
    height: 730px;
    background-color: rgb(3, 1, 1);
}
#ga{
    font-size: 40px;
    text-align: center;
}
#id{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
}
#ie{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
}   
#if{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;

}
#ig{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;

}
#ih{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;

}
#ii{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;

}
#ij{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
  
}
#ik{
    height: 300px;
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;

}
.hb{
    height: 20px;
    width: 100%;
    font-size: 25px;
}
.frm{
    width: 350px;
    height: 250px;
    background-color: rgb(15, 6, 6); 
    margin-left: 596px;
}
#al{
    text-align: left;
    font-size: 30px;
    color: white;
}
.po{
    width: 200px;
    height: 100px;
    background-color: rgba(209, 181, 181, 0.534);
    position:fixed;
    top: 100px;
    left: 1300px;
}